extends layout

block content
  link(rel='stylesheet' href='./css/default.css')
  link(rel='stylesheet' href='./css/main.css')
  section(id='main' class ='mx-auto my-5 py-5 px-3')
    h1(class = ' col-lg-6 col-md-8 col-sm-10 col-12 mx-auto') 시험 한 달 전 나는?
    a(href=`http://localhost:3000/question3?point=${point+1}`)
      button(class='btn btn-primary btn-lg btn-block' type='button') 시험이 언젠데..?
    a(href=`http://localhost:3000/question3?point=${point+2}`)
      button(class='btn btn-secondary btn-lg btn-block' type='button') 조금씩 공부를 시작한다.