doctype html
head
  style.
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='./css/default.css')
  link(rel='stylesheet' href='./css/main.css')
.container
  section#main.mx-auto.my-5.py-5.px-3
    h1 시험을 망쳤을 때 나는?
    .col-lg-6.col-md-8.col-sm-10.col-12.mx-auto
    a(href='http://localhost:3000/result1')
      button.btn.btn-primary.btn-lg.btn-block(type='button') 에라 모르겠다 하고 논다
      button.btn.btn-secondary.btn-lg.btn-block(type='button') 울며 다음 시험을 계획한다