extends layout

block content
  title
  link(rel='stylesheet' href='./css/default.css')
  link(rel='stylesheet' href='./css/main.css')
  section(id='main' class ='mx-auto my-5 py-5 px-3')
    h1(class = ' col-lg-6 col-md-8 col-sm-10 col-12 mx-auto') 시험 일주일 전 나는?
    a(href='http://localhost:3000/question2?point=1')
      button(class='btn btn-primary btn-lg btn-block' type='button') 딴 생각한다
    a(href='http://localhost:3000/question2?point=2')
      button(class='btn btn-secondary btn-lg btn-block' type='button') 그냥 빡공한다