extends layout

block content
  section(id="main" class='mx-auto my-5 py-2 px-3')
    h1(class=' col-lg-6 col-md-8 col-sm-10 col-12 mx-auto') 나의 공부 유형은?
    img(src='/images/style1.png' class='start-img')
    p 나의 공부유형을 알아봅시다.
    br
    p 아래 Get started 버튼을 눌러 시작하여 주십시오.
    a(href='http://localhost:3000/question1')
      button(type='button' onclick='js:begin()' class = ' btn btn-outline-danger mt-3') Get started
  section(class=' status mx-auto mt-5 statusBar qBox my-5 py-3 mx-auto answerBox')
    
  section(id='result')

